<div class="row py-5 px-5">
    <div class="col-1 py-4">
        <img src="https://www.verifiance-fnci.fr/content/dam/worldline/images/icones/store-line.png" alt="">
    </div>
    <div class="col">
          <h3>Misiòn</h3>
          <p>Tenemos la mision de formar personas de<br>
        excelencia que lograra sus proyectos de <br>
    vida</p>
    </div>
    <div class="col-1 py-4">
        <img src="https://www.verifiance-fnci.fr/content/dam/worldline/images/icones/store-line.png" alt="">
    </div>
    <div class="col">
        <h3>Visiòn</h3>
        <p>nuestra visiòn es que la comunidad<br>
      educativa reconocida por la calidad de sus <br>
  egresados gracias a un modelo academico <br>
de vanguardia</p>
    </div>
</div>
