img{
    height: 80px;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(102, 102, 102);
    font-weight: 600;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(128, 128, 128);
}